body{
    background:#131322;
}

.coloured-circle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #a736b0 33%, #ffffff 100%);
}
.first-circle{
    transform: translate(-180px,20px)
}

.second-circle{
    transform: rotate(180deg) translate(-180px,-20px);
   
}
.card-section{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-container{
    width:400px;
    height: 250px;
    z-index: 1;
    transform: translate(-100px,-80px);
    position: absolute;
    border-radius: 40px;
    
}

.card-front{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 40px;
    backface-visibility: hidden;
    transition-duration: .5s;
}
.card-front-inner,.card-back-inner{
    padding: 30px;
    color:white;
}
.card-front-inner .first-section{
    display: flex;
    align-items: stretch;
}
.card-front-inner .first-section .master-card{
    width:50px;
    height:30px;
}
.first-section .card-name{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    margin: 5px 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.card-front-inner .first-section .chip{
    width:50px;
    height:40px;
    display: block;
    margin-left:90px;
}

.second-section p{
    margin-top:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;

}
.second-section h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.third-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-section  .card-owner{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.third-section .end-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end-date p{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}
.end-date .date{
    font-size:18px;
}
.card-back{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    position: absolute;
    top:0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition-duration: .5s;
}
.card-top-information{
    font-size: 9px;
    text-align: center;
    font-weight: 200;
    margin-bottom:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-back-inner .black-section{
    background-color: black;
    width:100%;
    height:50px;
    left:0;
    position: absolute;
}
.card-back-inner .cvv-section{
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin-top:80px;
}
.card-back-inner .code-section{
    background: repeating-linear-gradient(#a736b0,#a736b0 0px,#e29ee7 2px ,#e29ee7 10px);
    width:280px;
    height:40px;
    border-radius: 5px;
}
.card-back-inner .cvv-number{
    width:40px;
    height:30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3px;
    border-radius: 5px;
    color: black !important;
    background-color: rgb(255, 255, 255);
}
.card-back-inner .card-footer{
    margin:15px 15px;
    line-height: 15px;
    font-size: 11px;
}
.card-container:hover .card-front{
    transform: rotateY(180deg);   
}
.card-container:hover .card-back{
    transform: rotateY(0deg); 
}